# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'settings-default.cfg' or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Game]
followers attack on sight = true
prevent merchant equipping = true
rebalance soul gem values = true
show effect duration = true
show enchant chance = true
show melee info = true
show owned = 3
show projectile damage = true

[Input]
allow third person zoom = true
toggle sneak = true

[Saves]
timeplayed = true

[Video]
antialiasing = 16
resolution x = 1920
resolution y = 1080
vsync = true
window border = false
